.calculator {
  width: 360px;
  margin: 10px auto;
  position: relative;
  background-color: black;
  color:white;
  border: 5px solid black;
}
button {
  width:90px;
  height: 60px;
}
.doubleWide {
  width: 180px;
}
.doubleTall {
  height: 120px;
  position: absolute;
  bottom: 0px;
}
#bottomScreen, .display {
  font-size: 25px;
  line-height: 30px;
  text-align: right;
}
.red {
  background-color: darkred;
  color: white;
  font-weight: bold;
  
}