.calculator {
  width: 360px;
  margin: 10px auto;
  position: relative;
  background-color: black;
  color:white;
  border: 5px solid black;
}
button {
  width:90px;
  height: 60px;
  display: inline-block;
  vertical-align: top;
  color: antiquewhite;
  font-size: 2em;
}
.doubleWide {
  width: 180px;
}
.doubleTall {
  height: 120px;
  position: absolute;
  bottom: 0px;
}
#bottomScreen, .display {
  font-size: 25px;
  line-height: 30px;
  text-align: right;
  display: block;
  
  overflow-wrap: break-word;
}
.red {
  background-color: darkred;
  color: white;
  font-weight: bold;
  font-size: 2.5em;
  
}
.green {
  background-color: lime;
  color: white;
  font-weight: bold;
  font-size: 4em;
}
.gray {
  background-color: gray;
}
.lightgray {
  background-color: lightgray;
  color: #333;
}